{{!< ../layouts/default}}
<div style="height:50px">
	<h2>
		{{name}}
		<small>{{role}}</small>
		<span class="pull-right">{{> avatar}}</span>
	</h2>
</div>

{{#if loggedInUser.mine}}
	<form class="form-inline" role="form" method="post" action="/users/{{id}}">
		<input type="hidden" name="_method" value="put">
		<div class="form-group">
			<label class="sr-only" for="email">Notification Email</label>
			<input type="email" class="form-control" name="email" placeholder="Notification Email" value="{{email}}">
		</div>
		<div class="form-group">
			<label class="sr-only" for="phone">Notification Phone</label>
			<input type="tel" class="form-control" id="phone" name="phone" placeholder="Notification Phone" value="{{phone}}">
		</div>
		<button type="submit" class="btn btn-default">Update</button>
	</form>
{{/if}}

<div>
	{{#each hws}}
		<div class="panel
		{{#if submission}}
			{{#if submission.complete}}
				panel-success
			{{else}}
				panel-default
			{{/if}}
		{{else}}
			panel-danger
		{{/if}}">
			<div class="panel-heading"><h3 class="panel-title"><a href="/hws/{{id}}">{{name}}</a></h3></div>
			<div class="panel-body">
				{{#if submission}}
					{{{submission.text}}}
					<p><a href="/hw_submissions/{{submission.id}}">Go to submission</a></p>
				{{else}}
					<p class="error">No submission</p>
				{{/if}}
			</div>
		</div>
	{{/each}}
</div>

<div class="row">
	<div class="col-md-6">
		<div class="page-header">
			<h3>Issues</h3>
		</div>
		{{#each issues}}
			{{> issueSummary}}
		{{/each}}
	</div>

	<div class="col-md-6">
		<div class="page-header">
			<h3>Issue Contributions</h3>
		</div>
		{{#each issueContributions}}
			{{> issueSummary}}
		{{/each}}
	</div>
</div>

<script>
	$("#phone").on('keyup',function() {
		this.value = this.value.replace(/[^0-9.]/g, "");
	});
</script>