{{!< ../layouts/default}}
<h2>Edit Self Eval</h2>


<form role="form" method="post" action="/users/{{user.id}}/selfEval">
    <input type="hidden" name="_method" value="put">
    <fieldset>
        <legend>Pronoun</legend>
        <div class="form-group">
        	<label for="pronoun[subject]">Subject</label>
        	<input class="form-control" name="pronoun[subject]" value="{{user.pronoun.subject}}">
            <p class="help-block">Example: <u>She</u> walked to the store.</p>
        </div>
        <div class="form-group">
            <label for="pronoun[possessive]">Possessive</label>
            <input class="form-control" name="pronoun[possessive]" value="{{user.pronoun.possessive}}">
            <p class="help-block">Example: <u>Her</u> Div III was amazing.</p>
        </div>
    </fieldset>
    <fieldset>
        <legend>Self Eval</legend>
        <p></p>
        <div class="form-group">
            <label for="selfEval[html]">HTML</label>
            <select class="form-control" data-select="{{user.selfEval.html}}" name="selfEval[html]">
                <option></option>
                <option>Bad</option>
                <option>OK</option>
                <option>Good</option>
            </select>
        </div>
        <div class="form-group">
            <label for="selfEval[css]">CSS</label>
            <select class="form-control" data-select="{{user.selfEval.css}}" name="selfEval[css]">
                <option></option>
                <option>Bad</option>
                <option>OK</option>
                <option>Good</option>
            </select>
        </div>
        <div class="form-group">
            <label for="selfEval[js]">JS</label>
            <select class="form-control" data-select="{{user.selfEval.js}}" name="selfEval[js]">
                <option></option>
                <option>Bad</option>
                <option>OK</option>
                <option>Good</option>
            </select>
        </div>
        <div class="form-group">
            <label for="selfEval[narrative]">Narrative Comments (optional)</label>
            <textarea class="form-control" name="selfEval[narrative]" data-provide="markdown" id="narrative"></textarea>
            <p class="help-block">Please be brief. I'm not looking for a novel. I just want to know if there's something you'd really like in your eval. This shouldn't be a 300 word BS essay about how you grew. If you write something like that, its OK. But, anything important might get lost. So, cut to the chase and tell me what, if anything is important to you. An example might be, "I worked really hard to understand the material with object oriented JS. Even though it didn't make its way into my project, I think I grew a lot."</p>
        </div>
    </fieldset>

    <br/>
    <div>
    	<button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<script>
    var selects = $('[data-select]');
    for(var i = 0; i < selects.length; i++) {
        var sel = $(selects[i]);
        sel.val(sel.attr('data-select'));
    }
</script>