<html>
<head>
    <title>{{title}}</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    {{> css}}
    <style>
    	html{height:100%;}
        body{

          height:100%;
          background: #f7fbfc;
          background: -moz-radial-gradient(center, ellipse cover,  #f7fbfc 0%, #add9e4 100%);
          background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f7fbfc), color-stop(100%,#add9e4));
          background: -webkit-radial-gradient(center, ellipse cover,  #f7fbfc 0%,#add9e4 100%);
          background: -o-radial-gradient(center, ellipse cover,  #f7fbfc 0%,#add9e4 100%);
          background: -ms-radial-gradient(center, ellipse cover,  #f7fbfc 0%,#add9e4 100%);
          background: radial-gradient(ellipse at center,  #f7fbfc 0%,#add9e4 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=1 );

        }

        #simple-menu {
          color:black;
          font-size:1.4em;
          position:fixed;
        }
        .jumbotron{
          background:none;
        }
        #main{
          padding:15px;
          padding-top:1px;
         border-radius:5px;
          background:white;
        }
        .ribbon {
          overflow: hidden;
          /* top left corner */
          position: fixed;
          right: -3em;
          top: 2.5em;
          /* 45 deg ccw rotation */
          -moz-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          /* shadow */


        }

        .instructor{
            background-color: #aa0000;
        }

        .ta{
            background-color: #bf8726;
        }

        .student{
            background-color: #5cb85c;
        }

        .ribbon a {
            width:170px;
          /*border: 1px solid #faa;*/
          color: #fff;
          display: block;
          font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
          margin: 0.05em 0 0.075em 0;
          padding: 0.5em 3.5em;
          text-align: center;
          text-decoration: none;
          /* shadow */
          text-shadow: 0 0 0.5em #444;
        }
        .select2-container {
            width:100%;
        }
        .error{
          color:red;
        }
    </style>
    {{> scripts}}

</head>
<body>
    <div class="ribbon {{loggedInUser.role}}">
        <a href="/users/{{loggedInUser.id}}" rel="me">{{loggedInUser.name}}</a>
    </div>
    <a class="btn" id="simple-menu" href="#sidr">
        <span class="glyphicon glyphicon-align-justify"></span>
    </a>
    <div id="sidr">
        <ul>
            <li><a href="/">Schedule</a></li>
            <li><a href="/issues">Issues</a></li>
            <li><a href="/terms">Terms Wiki</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/hws">Homework</a></li>
            <li></li>
            <li><a href="/users/{{loggedInUser.id}}">{{loggedInUser.name}}</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <br/><br/>
	<div class="container">
        <h1>CS-110: Hacking Class</h1>
		<div id="main">
            {{{body}}}
        </div>
	</div>
    <script>

    {{#if loggedInUser.student}}
      $(".instructorOrTa").hide();
    {{/if}}

    $(".avatar").tooltip({
            placement:"bottom"
        });
        $(document).ready(function() {
          $('#simple-menu').sidr();
        });

    </script>
    <script src="http://www.berriart.com/sidr/javascripts/min.js"></script>
</body>
</html>